/* See backup code on intelliJWeb.doc */

input {border: none;}

label {font-size: 20px; font-weight: bold;}

::placeholder {font-size: 20px;}

dt {font-size: 15px;}

dd {font-size: 20px;}

#customerPicked{
    width: 300px;
    height: 40px;
}