/* See backup code on intelliJWeb.doc */

input {border: none;}

/* label {font-size: 20px; font-weight: bold;} */

.form-group label {font-size: 15px; font-weight: bold;}

.form-group textarea {color:blue; font-size: 18px;}

::placeholder {font-size: 20px;}

dt {font-size: 15px;}

dd {font-size: 20px;}

img {
  margin:10px;
}

#just-line-break {
  white-space: pre-line;
}


#customerPicked{
    width: 300px;
    height: 40px;
}

#scrollId{
  height: 400px;
  overflow: scroll;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 50%;
    padding: 0 0px;
  }
  
.msg {
    margin: 20px;
}
 
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0); /* this adds the "card" effect */
    padding: 0px;
    float: center;
    align-items: left;
    text-align: left;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 2000px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


